[submodule "hackernel"]
	path = hackernel
	url = https://github.com/lanthora/hackernel.git
[submodule "uranus"]
	path = uranus
	url = https://github.com/lanthora/uranus.git
[submodule "venus"]
	path = venus
	url = https://github.com/lanthora/venus.git
